{% extends '::base.html.twig'%}
{% block stylesheets %}
    {{parent()}}
<link rel="stylesheet" href="{{ asset('css/index.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ asset('css/datepicker/css/datepicker.css') }}" type="text/css" />
{% endblock %}
{% block javascripts %}
{{parent()}}
<script src="{{ asset('css/datepicker/js/bootstrap-datepicker.js') }}"></script>
<script type="text/javascript">
  $(document).ready(function(){
      $('.carousel').carousel({
        interval : 5000
      })
  });
 </script>
    <script>
        $(function(){
            $('.datepicker').datepicker();
        })
    </script>
{%endblock%}
{%block body%}
    {{parent()}}
    <div class="text-center">
        {#<h3>Découvre la France de l'intérieur</h3>
        <p> <i>Laisse nous te surprendre </i></p>#}
        <!--<span id="fond">
            <img src="{{asset('bundles/countrynside/images/image_fond4.png')}}" />
        </span>-->
        <div id="my_carousel" class="carousel slide" data-ride="carousel" style="z-index: 0">
            <div class="carousel-header col-xs-12">
                <h3>Découvre la France de l'intérieur</h3>
                <p>
                    <i>Laisse nous te surprendre </i>
                </p>
            </div>

            <div class="carousel-inner">
                <!-- Page 1 -->
                <div class="item active">
                    <div class="carousel-page">
                        <img src="{{asset('bundles/countrynside/images/image_fond4.png')}}" class="img-responsive" style="margin:0px auto;" />
                    </div>
                    <div class="carousel-caption caption-center">
                        <h3>Des paysages surprenants</h3>
                    </div>
                </div>
                <!-- Page 2 -->
                <div class="item">
                    <div class="carousel-page">
                        <img src="{{asset('bundles/countrynside/images/image_fond2.jpg')}}" class="img-responsive"
                                                    style="margin:0px auto;"  />
                    </div>
                      <div class="carousel-caption caption-center">
                          <h3>Des rencontres privilégiées</h3>
                      </div>
                </div>
                <!-- Page 3 -->
                <div class="item">
                    <div class="carousel-page">
                        <img src="{{asset('bundles/countrynside/images/image_fond6.jpg')}}" class="img-responsive"
                             style="margin:0px auto;max-height:100%;"  />
                    </div>
                    <div class="carousel-caption caption-center">
                        <h3>Des découvertes gastronomiques</h3>
                    </div>
                </div>
            </div>
            <a class="left carousel-control" href="#my_carousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#my_carousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
            <div class="search-pannel">
                <div class="row col-xs-12">
                    <form class="form-inline col-xs-12" role="form">
                        <div class="form-group">
                            <input type="text" class="form-control col-xs-3" id="adresse-search" placeholder="Que cherchez vous ?">
                        </div>
                        <div class="form-group">
                                <input class="form-control col-xs-3 datepicker" type="text" id="dateD" placeholder="Quand... ?">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control col-xs-3 datepicker" id="dateF" placeholder="Jusqu'à... ?">
                        </div>
                        <button type="submit" class="btn btn-default">Chercher</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <section class="news">
        <div class="container">
            <div class="row text-center">
                <h2>A découvrir...</h2>
                <p>
                    Nos destinations les plus populaires.
                </p>
            </div>

            <div class="row">
                    <div class="col-sm-4">
                        <div class="img-small" style="background: url('{{asset('bundles/countrynside/images/image_fond6.jpg')}}'); background-size: cover;">
                           <p>Fromage artisanal</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="img-small" style="background: url('{{asset('bundles/countrynside/images/image_fond5.png')}}');background-size: cover;">
                            <p>Vignes de la région</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="img-small" style="background: url('{{asset('bundles/countrynside/images/image_fond4.png')}}');background-size: cover;">
                            <p>Cultures locales</p>
                        </div>
                    </div>
            </div>
        </div>
    </section>

    <div class="content-info">
        <div class="container ">
            <div class="row">
                <div class="col-sm-3 col-sm-offset-3">
                    <h3>Société</h3>
                    <ul class="unstyled-list">
                        <li><a href="">À propos</a></li>
                        <li><a href="">Presse</a></li>
                        <li><a href="">Blog</a></li>
                        <li><a href="">Aide</a></li>
                        <li><a href="">Règles</a></li>
                        <li><a href="">Conditions générales et confidentialité</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h3>Découvrir</h3>
                    <ul class="unstyled-list">
                        <li><a href="">Confiance et sécurité</a></li>
                        <li><a href="">Inviter des amis</a></li>
                        <li><a href="">La sélection CountrYnside</a></li>
                        <li><a href="">Voyage d'affaires</a></li>
                        <li><a href="">Plan du site</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h3>Devenir partenaire</h3>
                    <ul class="unstyled-list">
                        <li><a href="">Avantages</a></li>
                        <li><a href="">Nous contacter</a></li>
                    </ul>
                </div>
            </div>
            <hr/>
            <p class="copyright"><a href="">Privacy</a> - © 2014-2015 Miage Paris-Ouest</p>
        </div>
    </div>
{%  endblock %}
