{% extends '::base.html.twig'%}
{% block stylesheets %}
    {{parent()}}
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="{{ asset('css/sitebundle/css/eventform.css') }}" type="text/css" />
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script type="text/javascript" src="{{ asset('css/sitebundle/js/eventmap.js') }}"></script>
{% endblock %}

{%block body%}
    {{parent()}}
    {% set directory= "users/documents/" %}
    <div class="row">
        <div class="map col-md-5">
            <div id="map-canvas"></div>
        </div>
        <div class="col-md-7" style="float: right">
            <div class="row text-center">
                <h2 class="headform">Vos annonces</h2>
            </div>
            <div class="row">
                {% for event in events %}
                    <fieldset>
                        <h3>{{event.titre}}</h3>
                        <div class="row">
                            <div class="col-md-3">
                                <time>{{event.datepub|date('d M Y')}}</time>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <h6>{{event.region}}</h6>
                            </div>
                            <div class="col-md-6">
                                <h6>{{event.adresse}}</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <img src="{{asset(directory~id~"/photos/"~event.path)}}" alt="{{event.titre}}" class="image"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <p>{{event.telephone}}</p>
                            </div>
                            <div class="col-md-4">
                                <p>{{event.capacite}}</p>
                            </div>
                            <div class="col-md-4">
                                <p>{{event.tarif}}</p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <article>{{event.descriptif}}</article>
                        </div>
                        <input type="button" value="Voir l'emplacement sur la carte" onclick="reinitialize('{{event.coord}}')">
                    </fieldset>
                    <br>
                    <br>
                {% endfor%}
            </div>
        </div>
    </div>
{%endblock%}
